/*****GENERAL STYLING*****/
html {
    scroll-behavior: smooth;
}

/*Body*/
body {
     /*This ensures our site displays all the way to the edge of the browser screen*/
    opacity: 1;
    transition: 3s opacity;
    overflow-x: hidden;
    user-select: none;
    background-color:#fff5ee;
    font-family: 'Garamond';
}

h2 {
    color: rgb(144, 110, 110);
    font-size: 25px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid gray; /* The typwriter cursor */
    white-space:nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end) forwards,
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 31% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
  }
  
/* Heading 1 elements */
h1 {
    text-transform: uppercase; /*Capitalizing all h1 heading*/
    font: Georgia; /*Sets the font family of all h1 headings*/
    text-align: center; /*Centering all h1 elements*/
    margin-top: 3%; /*Adds a small margin above h1 elements*/
    color: rgb(144, 110, 110);
    font-size: 30px;
    padding-top: 30px;
}

/*Heading 1 element hover effect*/
h1:hover {
    filter: grayscale(5%); /*Adds a slightly gray filter to the h1 headings when hovered over*/
}

.quote {
    margin: auto;
    text-align: center;
    margin-bottom: 25%;
    font-size: 30px;
}

.fade-in {
    opacity: 0;
}

/* Paragraph elements */
.mySlides{
    margin: auto;
    width: 400px;
    border: dimgray 5px solid;
}

.buttons {
    margin: auto;
    margin-right: 3.6%;
    margin-bottom: 30%;
}
p {
    margin-top: -.1px;
    text-align: center; /* Justify text within paragraph elements */
    font-weight: bold;
    color:rgba(133, 90, 113, 0.811);
}

h3 {
    margin-top: -.1px;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
}

h4 {
    font-size: 28px;
    margin-top: -20%;
    color:rgba(0, 0, 0, 0.811);
    text-shadow: 1px 1px #e5d3c6;
}

.header-row {
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30%;
}

.img-container {
    position: relative;
    z-index: -1;
    margin-right: 300px;
}

.img-container1 {
    width: 600px;
    height: auto;
}

.img-container2 {
    width: 170px;
    height: auto;
    margin-bottom: 20%;
}

.img-container3 {
    width: 475px;
    height: auto;
    margin-bottom: 20%;
}

li {
    font-size: 18px;
    width: 300px;
    margin: auto;
    font-weight: bold;
}

.pizza {
    font-size: 35px;
}

/* Center class - this applies to all elements with the class "center" */
.header {
    text-align: center; /* This center aligns the text */
    position: relative;
    margin-top: -300px;
    z-index: -1;
}

.center {
    
    text-align: center;
    color: #bc8f8f;
    font-size: 23px;
}


/* Center class hover effect - This only affects the quote, github link, and footer */

/*Anchor Elements*/
a {
    color: rgb(144, 110, 110); /*This ensures all links are blue*/
    cursor: pointer;
    text-decoration: underline;
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized */
}

/* Image elements */
img {
    border-radius: 8px; /* Gives all images slightly rounded corners */
    max-width: 100%; /* Ensures all images stay within the width of their container */
    max-height: 100%; /* Sets the height of all images */
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin: auto auto auto auto;
    
}


/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color:rgba(133, 90, 113, 0.811);
}

footer .center {
    color: white;
}

.footer-link {
    color:rgba(56, 34, 46, 0.811);
}

/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:rgb(170, 153, 153); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(84, 84, 84);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:rgba(133, 90, 113, 0.811);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    position: fixed;
  }
  
  .openbtn:hover {
    background-color:rgba(185, 153, 171, 0.811);
  }

  .openbtn:focus {
    visibility: hidden;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/***** END OF NAVBAR STYLING *****/

/* Screens that are 576px and smaller will not display the background video */

/* This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {top: -100vw;} /* This sets the position of the video text to above the viewport */
    to {top: 0vw;} /* This moves the video text to the normal positioning on the viewport */
}
/***** END OF VIDEO STYLING *****/

/***** TABLE STYLING -  this section covers the styling of the columns and rows within the table *****/
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column {
    float: center;
    width: 100%; /* This ensures the column takes up half of the page width */
    padding: 10px;
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    height: 420px; /* This sets the height of the column to 400px -  this may need to be adjusted depending on the text you enter */
    background-color: #A9A9A9; /* Sets the background color of the columns with class Column_1 */
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

/* This inserts something after the content of selected elements (in this case the elements with class "Row") */
.Row:after {
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
    clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/***** END OF TABLE STYLING *****/

/***** CONTACT FORM STYLING *****/

@keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

@-webkit-keyframes movePopup {
    from {right: -40vw;}
    to {right: 1.75vw;}
}

/* Styling for the contact form */


/* General styling for all buttons */
button {
    margin-left: 60px;
    color: #bc8f8f;
    cursor: pointer;
    background:none;
    border: none;
    font-size: 36px;
}


/* Hover effect for contact and submit buttons */
button:hover {
    color: black;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.form-button {
    background-color:#fff5ee;
    color:rgb(144, 110, 110);
    border: 1.5px solid dimgray;
    border-radius: 5px;
    width: 75px;
    cursor: pointer;
    margin: auto;
    font-size: 15px;
    font-family: 'Garamond';
}

.form-button:hover {
    color: black;
    background-color:rgb(220, 203, 203);
    border: 1.5px solid dimgray;
}

.contact-form {
    width: 400px;
    height: 400px;
    text-align: center;
    background-color: white;
    margin: auto;
    color: black;
    padding-top: 25px;
    border: dimgray 2px solid;
    border-radius: 15px;
    margin-bottom: 10%;
    font-family: 'Garamond';
}

.contact-form-container {
    width: 350px;
    height: 350px;
    margin:auto;
    padding-top: 30%;
    text-align: center;
    background-color: rgba(133, 90, 113, 0.811);
    border-radius: 15px;
    font-family: 'Garamond';
}

input, textarea{
    border: solid 2px dimgray;
    border-radius: 3px;
    border-color:rgba(56, 34, 46, 0.811);
    width: 250px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    height: 30px;
}

textarea {
    max-width: 300px;
    max-height: 150px;
}

.email, .message {
    font-size: 20px;
    font-weight: bold;
}

.email {
    margin-left: -30%;
}

.message {
    margin-left: -42%;
}

::placeholder{
    color:rgb(123, 97, 123)
}


/***** End of Contact Form Styling *****/

/***** Media Query Section *****/
/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .Nav a {
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote {
        font-size: 3.5vw;
    }
    .white-text {
        font-size: 4.5vw;
    }
}

/* Media rules to increase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550pc;
    }
}

/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    hw {
        margin-top: 0;
    }
}
/***** End of Media Query Section *****/