nav {
  height: 7lvh;
  background-color: rgb(27, 27, 27);
  transition: height 0.3s ease;
  display: flex; /* Added flexbox display */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 100px;
  
}

nav a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  padding: 20px;
}

nav a:hover {
  background-color: gray;
}

#content {
  height: 5000px; /* Replace with your desired height */
}
.bio-container {
  display: flexbox;
  text-align: center;
  border: 2px solid black;
  max-width: 35lvw;
  margin-left: 30%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#typed-text {
  font-size: 18px;
  color: #333;
}

